0x05-python-exceptions/.vscode/c_cpp_properties.json
0x05-python-exceptions/.vscode/settings.json
0x07-python-test_driven_development/.vscode/c_cpp_properties.json
0x07-python-test_driven_development/tests/__pycache__/6-max_integer.cpython-38.pyc
0x07-python-test_driven_development/tests/__pycache__/6-max_integer_test.cpython-38.pyc
0x07-python-test_driven_development/tests/__pycache__/__init__.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/6-max_integer.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/5-text_indentation.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/4-print_square.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/3-say_my_name.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/2-matrix_divided.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/0-add_integer.cpython-38.pyc
0x07-python-test_driven_development/102-tests.py
0x07-python-test_driven_development/__pycache__/100-matrix_mul.cpython-38.pyc
0x07-python-test_driven_development/__pycache__/101-lazy_matrix_mul.cpython-38.pyc
0x0A-python-inheritance/__pycache__/1-my_list.cpython-38.pyc
0x0A-python-inheritance/__pycache__/7-base_geometry.cpython-38.pyc
0x0A-python-inheritance/__pycache__/9-rectangle.cpython-38.pyc
0x0B-python-input_output/__pycache__/5-save_to_json_file.cpython-38.pyc
0x0B-python-input_output/__pycache__/6-load_from_json_file.cpython-38.pyc
0x0B-python-input_output/__pycache__/10-student.cpython-38.pyc
0x0B-python-input_output/101-generator.py
